.image {
  border-radius: 1rem;
}

.icon {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  white-space: nowrap; /* evita quebra */
}

.icon svg {
  width: 1rem;
  height: 1rem;
}

button {
  background: #059669;
}

button svg {
  color: white;
}
