.section-title {
  position: relative;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  padding-bottom: 0.25rem;
  color: #111827;
}

.section-title::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 30%;
  height: 0.26rem;
  background-color: #10b981;
  border-radius: 2px;
}
